.editheader
{
    display:none !important;
}
.leadtypecheckbox
{
margin:20px !important;
}

.leadtypeselected span
{
display : none;
}
.leadtypeupdate span
{
display : none;
}
.leadtypeselected
{
padding: 5px;
}
.leadtypeupdate
{
padding: 5px;
}
.leadtypefolder
{
overflow:auto;
height:200px;
}

.leadtypeselected
{
background: #3e7da6 !important;
    border: #3e7da6 !important;
    color: #fff !important;
    margin: 10px;
    padding: 6px;
}
.leadfolderselected
{
background: #3e7da6 !important;
    border: #3e7da6 !important;
    color: #fff !important;
    margin: 10px;
    padding: 6px;
}

.leadingoption div input {
    margin-bottom: 10px;
}
input.gravityleadtypeupdate {
    width: 100%;
    height: 36px;
    background-color: #3e7da6 !important;
    color: #fff !important;
    border: solid 1px #3e7da6;
}